# folder containing output and input data
Data/
HagglingData/

# ide related files
.idea/*
.idea/other.xml
.idea/workspace.xml
.idea/sell-it.iml
__pycache__/
venv/
meta/mean.json
meta/std.json
meta/*.joblib
wandb/*

ckpt/
