#![enable(implicit_some)]
Prefab (
    entities: [
        (
            data: (
                transform: (
                    translation: (0.0, 1.5, 0.0),
                    rotation: (-0.13, 0.0, 0.0, 0.99)
                ),
                camera: Perspective(
                    aspect: 1.0,
                    fovy: 1.0471975512,
                    znear: 0.1,
                    zfar: 2000.0
                ),
                control_tag: ()
            )
        ),
    ]
)
